[Unit]
Description=StoryBrainAI FastAPI
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/storybrainai/htdocs/www.storybrainai.com
Environment=PORT=8090
Environment=PATH=/home/storybrainai/htdocs/www.storybrainai.com/venv/bin
ExecStart=/home/storybrainai/htdocs/www.storybrainai.com/venv/bin/gunicorn -c /home/storybrainai/htdocs/www.storybrainai.com/gunicorn_conf.py main:app
Restart=always

[Install]
WantedBy=multi-user.target